src/*.exe
src/saint
src/saintd
src/test_saint
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.saint

# Compilation and Qt preprocessor part
*.qm
Makefile
saint-qt
Saint-Qt.app

# Unit-tests
Makefile.test
saint-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
