[Desktop Entry]
Encoding=UTF-8
Name=Saint
Comment=Saint P2P Cryptocurrency
Exec=saint-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/saint;
Categories=Office;Finance;
Name[en_US]=saint-qt.desktop
